.pfp {
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px;
    border-radius: 20px;
}

#img-file {
    display: none;
}

.img-message {
    max-width: 250px;
    max-height: 150px;
}

.img-message-div {
    width: 250px;
    height: 150px;
}
